// Variables

// Colors
		// Primary
$color__primary: #212121;
$color__primary--light: #484848;
$color__primary--dark: #000000;

		// Secondary
$color__secondary: #fafafa;
$color__secondary--light: #ffffff;
$color__secondary--dark: #c7c7c7;

		// Accent
$color__accent: #00fa9a;
$color__accent--light: #6bffcb;
$color__accent--dark: #00c66b;

	// Background
$color__background: #f1f1f1;

// Status
$color__success: #009B77;
$color__warning: #EFC050;
$color__error: #DD4124;