// Breakpoints

$breakpoints: (
		small-xxs : $breakpoint__small-xxs,   // 320px
		small-xs : $breakpoint__small-xs,     // 375px
		small-s : $breakpoint__small-s,       // 425px
		small : $breakpoint__small,           // 560px
		medium : $breakpoint__medium,         // 768px
		large : $breakpoint__large,           // 1024px
		large-l : $breakpoint__large-l        // 1200px
);


@mixin on-vp($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}
	@else {
		@warn "No value found for `#{$breakpoint}`. "
					+ "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}

@mixin on-vp-max($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (max-width: map-get($breakpoints, $breakpoint) - 1) {
			@content;
		}
	}
	@else {
		@warn "No value found for `#{$breakpoint}`. "
				+ "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}
