// Navigation

.navigation {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 30vw;
	background-color: $color__secondary--light;
	transition: transform 0.5s ease-in-out;
	transform: translateX(-95%);
	box-shadow: 5px 0px 4px rgba($color__primary, 0.25);

	&::after {
		content:"";
		position: absolute;
		z-index: -1;
		top: calc(50% - 75px);
		right: -75px;
		width: 150px;
		height: 150px;
		background-color: $color__secondary--light;
		box-shadow: 5px 0 0 rgba($color__primary, 0.25);
		transform: rotateZ(45deg) ;
	}

	&.is-active {
		transform: translateX(0);
		
	}

	.__list {
		width: 100%;
	}

	.__row {
		padding: 1rem;

		&:hover {
			& .__item {
				text-shadow: 18px 18px 4px $color__accent--light;
			}
		}
	}

	.__item {
		display: block;
		font-size: 5rem;
		font-weight: 700;
		font-style: normal;
		line-height: 1;
		text-align: center;
		text-shadow: 0px 4px 4px $color__accent--light;
		padding-bottom: 0.5rem;
		transition: text-shadow 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

		&.is-selected {
			text-shadow: 18px 18px 4px $color__accent--light;
		}
	}

	.__button-wrap {
		position: absolute;
		right: calc(-36px * 1.4);
		top: calc(50% - 17px);
		transform: scale(1.2);
	}

	.menu, .__button {
		width: 36px;
		height: 36px;
		padding: 0;
		margin: 0;
		outline: none;
		position: relative;
		border: none;
		background: none;
		cursor: pointer;
		-webkit-appearence: none;
		-webkit-tap-highlight-color: transparent;

		svg {
			width: 64px;
			height: 48px;
			top: -6px;
			left: -14px;
			stroke: $color__primary;
			stroke-width: 4px;
			stroke-linecap: round;
			stroke-linejoin: round;
			fill: none;
			display: block;
			position: absolute;

			path {
				transition: stroke-dasharray var(--duration, .85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, .85s) var(--easing, ease) var(--delay, 0s);
				stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
				stroke-dashoffset: var(--offset, 126px);
				transform: translateZ(0);

					&:nth-child(2) {
						--duration: .7s;
						--easing: ease-in;
						--offset: 100px;
						--array-2: 74px;
					}

					&:nth-child(3) {
						--offset: 133px;
						--array-2: 107px;
					}
			}
		}

			&.is-active {
				svg {
					path {
						--offset: 57px;
						&:nth-child(1),
						&:nth-child(3) {
							--delay: .15s;
							--easing: cubic-bezier(.2, .4, .2, 1.1);
						}
						&:nth-child(2) {
							--duration: .4s;
							--offset: 2px;
							--array-1: 1px;
						}
						&:nth-child(3) {
							--offset: 58px;
						}
					}
				}
			}
	}
}