// Portfolio

.portfolio {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	width: 80%;
	height: 100%;
	padding: 1rem;

	.__intestation {
		font-size: 5rem;
		padding: 1rem 3rem;
		background-color: $color__secondary--light;
		margin-bottom: 2rem;
	}

  .__content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		width: 100%;
		// height: 100%;
  }
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;

    .__case {
      flex: 1;
      height: 100%;
      transition: flex 0.8s ease;
      transform:skewX(-5deg);
      // border: 2px solid mediumspringgreen;
      box-shadow: 5px 5px 4px rgba($color__primary, 0.25);
      overflow: hidden;
      cursor: pointer;

      &:hover, &.is-open {
        flex: 7;
      }

      &.is-open {
        .__heading {
          display: none;
          opacity: 0;
        }

        .__body {
          display: flex;
          opacity: 1;
        }
      }

      &:first-child {
        margin-left: -3rem;
      } 

      &:last-child {
        margin-right: -3rem;
      } 
    }

    .__item {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: center;
      background-size: cover;
      background-repeat: none;
      transform:skewX(5deg);
      margin: 0 -3rem;
      

      &.--gark {
        background: url('../../assets/Images/png/garagek.png')  left top/cover no-repeat border-box,
        transparent;
      }

      &.--viva {
        background: url('../../assets/Images/png/vivaticket.png')  left top/cover no-repeat border-box,
        transparent;
      }
    }
    
    .__heading {
      width: fit-content;
      height: auto;
      padding: 1rem;
      background: rgba($color__primary--light, .7);
      transform: skew(5deg);
      transition: opacity 0.5s ease-in-out;
      opacity: 1;
    }

    .__title {
      color: $color__secondary--light;
      font-size: 3rem;
      font-weight: 500;
      transform: skew(-5deg);
    }

    .__body {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: fit-content;
      height: auto;
      max-width: 70%;
      padding: 1rem;
      background: rgba($color__secondary--light, .9);
      transform: skew(5deg);
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
    }

    .__subtitle {
      font-size: 3rem;
      font-weight: 500;
      transform: skew(-5deg);
      margin-bottom: 2rem;
    }

    .__description {
      font-size: 1.5rem;
      font-weight: 400;
      transform: skew(-5deg);
      margin-bottom: 2rem;
      max-width: 70%;
    }

    .__cta {
      color: $color__secondary--light;
      border-radius: 50px;
      font-size: 1.7rem;
      padding: 1rem;
      font-weight: 500;
      background-color: $color__accent--dark;
      border: 3px solid $color__accent--dark;
      transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
      transform: skew(-5deg);

      &:hover {
        color: $color__accent--dark;
        background-color: $color__secondary--light;
      }
    }
  }
}